// for all the website

html, body {
  min-height: 100vh;
  background-color: #364156;
  // background-color: #64789E;
  // background-color: #424F69;
  color: white;
}

main {
  color: white;
}
img {
  object-fit: cover;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Baumans', cursive;

}

h1.title.is-1, h1.title.is-2 {
  color: #fffff4;
}

.subtitle {
  font-size: 16px;
  color: #fffff4;
}

.label {
  color: #fffff4;
}

.button.button.is-primary {
  border-radius: 10%;
  background-color: transparent;
  border-color: white;
  color: #fff;
}
