.postyoupics {
  background-color: #919098;
  margin-top: 100px;
}

.event-info {
  padding: 0 50px;
}

.block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.padding50 {
  padding: 50px;
}
