.postyoupics {
  background-color: #919098;
  margin-top: 100px;
}

.event-info {
  padding: 0 50px;
}

.block-info {
  a {
    color: white;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.padding50 {
  padding-top: 50px;
}

div.small-events-infos {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around space-evenly;
  margin: 30px 0 20px 0;
}

.box-attendees {
  flex-wrap: wrap;
}
